@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100dvh;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit:cover ;
}

.p-logo img{
  margin: auto;
}

.full-bleed-white {
  background: #EFF4F8;
  box-shadow: 0 0 0 100vmax #EFF4F8;
  clip-path: inset(0 -100vmax);
}

.full-bleed-white-white {
  background: #fff;
  box-shadow: 0 0 0 100vmax #fff;
  clip-path: inset(0 -100vmax);
}

