@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .c-container {
    @apply max-w-[1278px] mx-auto relative xl:max-w-[1018px] lg:max-w-[758px] md:max-w-[634px] sm:max-w-[468px] 
  }
}

body {
  height: 100dvh;
  overflow-x: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit:cover ;
}

.p-logo img{
  margin: auto;
}

svg {
 fill: rgba(255, 0, 255, 0.4);
}